<%
let events = collections.events;
if (! events) {
    events = []
}
%>
<div class="list media-list searchbar-found">
    <ul id="liveviewevents_wrapper" class="infi_holder">

    </ul>
    <div class="preloader infinite-scroll-preloader"></div>
</div>

