<%
let bands = collections.bands;
%>
<div class="list media-list searchbar-found">
    <ul>
        <% bands.forEach((band) => {
            let {name, logo, lno_score, genre} = band.attributes
            console.log( genre.ucwords())
        %>
        <li>
            <a href="#" class="item-link item-content">
                <div class="item-media"><img src="<%= band.get('logo') %>" width="80"/></div>
                <div class="item-inner">
                    <div class="item-title-row row">
                        <div class="item-title col-75"><%= name %></div>
                        <div class="col-25 font-italic">0.5 (mile)</div>
                    </div>
                    <div class="row no-pad">
		  <span class="col-75">Rating: <%= lno_score %> &nbsp; Genre: <%= genre.ucwords().replace(/,/g, ', ') %>
              <br/><span class="font-italic">Mon-Sep 22nd 9:00PM</span>
		  </span>
                        <span class="col-25 font-italic">$$$</span>
                    </div>
                </div>
            </a>
        </li>
        <% }) %>
    </ul>
</div>
